html {
  scroll-behavior: smooth;
}

body > nav{
	background-color: purple;
	font-family: 'Open Sans', sans-serif;
}

/* font size should be 15px minimum to meet WCAG 2.1 guidelines */
p {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

#navbarSupportedContent > form > input{
	font-size: 15px;
}

#navbarSupportedContent > form > button{
	font-size: 15px;
	background-color:#ffc2f8;
	color:black;
}

#navbarSupportedContent > form > button:hover{
	font-size: 15px;
	background-color:#ff64fc;
	color:white;
	font-weight: bold;
}

body > div.container > div:nth-child(4) > div > div:nth-child(1) > div > a > button, body > div.container > div.text-center > a > button{
	font-size: 15px;
	background-color:purple;
	color:white;
}


body > div.container > div:nth-child(4) > div > div:nth-child(1) > div > a > button:hover, body > div.container > div.text-center > a > button:hover{
	font-size: 15px;
	background-color:#35155e;
	color:white;
}
#race > p.margin, #comparison > p.margin, #age > p.margin{
	text-align: center;
	font-weight: normal;
}

ul.tick {
  list-style: none;
}

ul.tick li:before {
  content: '✓';
  color: green;
  font-weight: bold;
  font-size: 20px;
  margin-right:5px;
}

ul.tick li {
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	text-align:center;
}

a{
	font-size: 15px;
}

a.nav-link{
	font-size:15px;
	font-weight: bold;
}

body > div:nth-child(3) > div > div:nth-child(1) > a > button{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
}
body > div.container > div.row > div > a > button{
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 2%;
}

h1{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	margin-top: 3%;
	margin-bottom: 0%;
}

h3{
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 3%;
}

.pink-underline{
	text-decoration: underline;
	text-decoration-color: #ff64fc;
}

/* Style the tab */
#race-tab, #gender-tab, #age-tab, #comparison-tab {
  border: solid;
  border-color: black;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  border-radius: 15px 15x 0px 0px;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
 /* Spacing between tabs */
#race-tab, #age-tab, #comparison-tab{
	margin-left: 2%;
}

@media only screen and (max-width: 300) {
  #race-tab, #gender-tab, #age-tab, #comparison-tab {
    margin-left: 0%;
  }
}

/* Comparison tab styling on load and tab panel background colours */
#race, #comparison,#age, #comparison-tab{
	background-color: #ffc2f8;
	font-weight: bold;
}

/* tab-pane border styling */
.tab-pane{
	border:solid;
	border-color: black;

}

/* Chart date styling */
.chart-header{
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5%;
	text-decoration:underline;
	text-decoration-color: #ff64fc;
	margin-top: 2%;
}

/* Key */
div.key{
	background-color: #fce3f9;
	margin-top: 2%;
}

.key h2{
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 5%;
	padding-top: 2%;
	font-size: 30px;
}

.key{
	border-top: solid;
	border-top-color: black;
}

.key p{
	padding: 2%;
}

.key-edge{
	margin-left:2%;
	margin-top: 2%;
	margin-bottom: 3%;
}

#female{
	background-color: rgb(102, 0, 187);
	background-image: linear-gradient(to right, rgb(102, 0, 187), rgb(102, 153, 255));
	width: /*60px;*/ 90%;
	height: 60px;
	border-radius: 30px;
	margin-right: 2%;
	margin-left: 2%;
}

#male{
	background-color: rgb(64, 144, 112);
	background-image: linear-gradient(to right, rgb(102, 255, 153), rgb(64, 144, 112));
	width: /*60px;*/ 90%;
	height: 60px;
	border-radius: 30px;
	margin-right: 2%;
	margin-left: 2%;
}

#other{
	background-color: #ebd234;
	width: /*60px;*/ 90%;
	height: 60px;
	border-radius: 30px;
	margin-right: 2%;
}

#undisclosed{
	background-color: #eb4934;
	width: /*60px;*/ 90%;
	height: 60px;
	border-radius: 30px;
	margin-right: 2%;
	margin-left: 2%;
}

/* Container needed to position the overlay. Adjust the width as needed */
.arrow-container{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 50px;
}

/* When you mouse over the arrow-container, fade in the overlay image*/
.arrow-container:hover .overlay {
  opacity: 1;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay{
	opacity:0;
	transition: .3s ease;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	height: 100%;
	width: 100%;
}

/* The image inside the overlay is positioned in the middle vertically and horizontally */
.pink-arrow-fill{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

/* Colour for "Un" strikethough */
del{
	text-decoration-color: #ff64fc;
}

/* About Page formatting */
.card-body{
	background-color: #e3f2fd;
	border-style: solid;
	border-color: #145A32;
	border-radius: 0px 0px 30px 30px;
	border-width: 1px;
}
div.card{
	border-style: solid;
	border-color: #145A32;
	border-radius: 30px 30px 30px 30px;
	border-width: 2px;
}

div.pink-aura{
	background-color:#fcebfc;
}

div.blue-aura{
	background-color:#eddcfc;
}

#about-us{
	margin-bottom: 5%;
}

a:hover.accessible-link, a.accessible-link{
  text-decoration: underline;
}

.strip{
	background-color:#ffc2f8;
}
.purple-strip{
	background-color: #dbb3fc;
}
.margin{
	margin-left: 10%;
	margin-right: 10%;
}
.half-margin{
	margin-left: 5%;
	margin-right: 5%;
}